html, body, input, div {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Segoe UI', Helvetica, Arial;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
.btn {
  display: block;
  background-color: #F5F5F5;
  color: #606060;
  width: 150px;
  height: 30px;
  font-size: 15px;
  text-align: left;
  margin: 0 auto;
  border-left: 10px solid #819806;
  border-right: 1px solid #E5E5E5;
  cursor: pointer;
  white-space: nowrap;
}
.btnimg label {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.inline {
  display: inline-block;
}
input.btn {
  padding-left: 10px;
}
input.text {
  border-right: 1px solid #E5E5E5;
  border-left: 10px solid #819806;
  color: #606060;
  font-size: 15px;
  padding: 5px 10px;
  width: 200px;
}
.transparent {
  opacity: 0;
  width: 0;
  height: 0;
}
.box {
  width: 282px;
  border: 1px solid #E0E0E0;
  text-align: center;
  display: inline-block;
  background: #F9F9F9;
}
.box span {
  font-size: 15px;
  display: block;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 auto;
  color: #606060;
}
.box.over {
  position: absolute;
  background: #FFFFFF;
  bottom: 10px;
  height: 145px;
  font-size: 15px;
  color: #606060;
}
.hidden {
  display: none;
}
.box h2 {
  background-color: #819806;
  color: #FFFFFF;
  display: block;
  text-align: left;
  padding: 5px 10px;
  width: 210px;
  cursor: default;
  -webkit-font-smoothing: antialiased;
}
.center {
  margin: auto;
  font-size: 0;
  width: 282px;
  height: 280px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  text-align: center;
}
.clear {
  height: 5px;
  width: 1px;
}
h1 {
  font-size: 24px;
  color: #606060;
}
h2 {
  font-size: 18px;
  color: #FFFFFF;
}
h3 {
  font-size: 14px;
  color: #808080;
  font-weight: 400;
}
.loading {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #606060;
}
.haserror {
  border-left-color: #D6513C !important;
}
.haserrorh {
  background-color: #D6513C !important;
}
.img {
  background-image: url('icons.png');
  background-repeat: no-repeat;
}
.lock {
  background-position: 5px 5px;
}
.open {
  background-position: 11px -40px;
}
.unlock {
  background-position: -26px 5px;
}
.btnimg {
  border-radius: 21px;
  width: 42px;
  height: 42px;
  display: inline-block;
  background-color: #819806;
  cursor: pointer;
}
.btnimg:hover {
  background-color: #95AD13;
}
.btnimg.big {
  border-radius: 46px;
  width: 92px;
  height: 92px;
}
.btnimg.big:hover {
  background-color: #95AD13;
}
.clear-horizontal {
  height: 1px;
  width: 5px;
  display: inline-block;
}
.progressbar {
  height: 8px;
  margin-top: 10px;
  background-color: #F0F0F0;
}
.progressbar .thumb {
  background-color: #819806;
  height: 8px;
  width: 0;
}
.wait {
  cursor: wait;
}
.absright {
  position: absolute !important;
  right: 10px;
  top: 10px;
}
.mouse {
  width: 52px;
  height: 52px;
  border-radius: 26px;
  background-color: #F5F5F5;
  border: 1px solid #E5E5E5;
  background-image: url('icons.png');
  background-repeat: no-repeat;
  background-position: -62px 7px;
}
.close {
  background-position: -108px 3px;
}
.dropzone {
  display: none;
  border: 4px dashed #819806 !important;
  cursor: copy;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #F5F5F5;
}
.dropbg {
  background-image: url('icons.png');
  background-repeat: no-repeat;
  background-position: -92px -60px;
  width: 80px;
  height: 100px;
  display: inline-block;
  margin-top: 40px;
  text-align: center;
}
.dropzone h3 {
  font-size: 20px;
  color: #A0A0A0;
}
.tooltip {
  display: none;
  border-radius: 3px;
  background-color: #606060;
  color: #FFFFFF;
  position: absolute;
  font-size: 12px;
  padding: 4px 8px;
  white-space: nowrap;
}
.tooltip.bottom {
  bottom: -32px;
  width: 90px;
  left: 50%;
  margin-left: -45px;
}
.tooltip.left {
  right: 60px;
  top: 12px;
}
.tooltip:after, .tooltip:before {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.tooltip.bottom:after, .tooltip.bottom:before {
  bottom: 99%;
  left: 50%;
}
.tooltip.left:after, .tooltip.left:before {
  left: 99%;
  top: 50%;
}
.tooltip.bottom:after {
  border-color: transparent;
  border-bottom-color: #606060;
  border-width: 5px;
  margin-left: -5px;
}
.tooltip.bottom:before {
  border-color: transparent;
  border-bottom-color: #606060;
  border-width: 6px;
  margin-left: -6px;
}
.tooltip.left:after {
  border-color: transparent;
  border-left-color: #606060;
  border-width: 5px;
  margin-top: -5px;
}
.tooltip.left:before {
  border-color: transparent;
  border-left-color: #606060;
  border-width: 6px;
  margin-top: -6px;
}
.hastooltip {
  position: relative;
}
.hastooltip:hover .tooltip {
  display: block;
}
.logo {
  background-image: url('logo.png');
  background-repeat: no-repeat;
  width: 100px;
  height: 24px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}
.gitlogo {
  background-image: url('git.png');
  background-repeat: no-repeat;
  width: 100px;
  height: 24px;
  position: absolute;
  bottom: 8px;
  right: 100px;
  cursor: pointer;
}
.bottom {
  position: absolute;
  bottom: 10px;
  right: 100px;
}